<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker - Carte</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div class="home-container">
        <a href="https://open.spotify.com/intl-fr" target="_blank"><img src="../static/spotify.png" class="home-link-img" alt="Spotify"></a>
        <a href="https://www.deezer.com/fr/" target="_blank"><img src="../static/deezer.png" class="home-link-img" alt="Deezer"></a>
    <div class="icon-container">
        <img src="../static/mic.png" class="home-icon" alt="Microphone">
        <a href=".."><img src="../static/maison.png" class="home-icon" alt="Maison"></a>
    </div>
</div>
    <div class="concert-info">
        <h1>Concert à {{.City}} le {{.Date}}</h1>
        <div id="map" style="height: 400px;"></div>
    </div>

    <script>
        // Vérification des valeurs depuis Go
        console.log("Ville:", "{{.City}}");
        console.log("Date:", "{{.Date}}");
        console.log("Latitude:", "{{.Lat}}");
        console.log("Longitude:", "{{.Lon}}");

        var city = "{{.City}}";
        var date = "{{.Date}}";
        var latitude = "{{.Lat}}";
        var longitude = "{{.Lon}}";

        if (!latitude || !longitude) {
            console.error("Coordonnées invalides pour la ville " + city);
        }

        // Initialisation de la carte avec les coordonnées
        var map = L.map('map').setView([latitude, longitude], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Ajouter un marqueur pour la ville
        var marker = L.marker([latitude, longitude]).addTo(map);
        marker.bindPopup("<b>" + city + "</b><br>" + date).openPopup();
    </script>
</body>
</html>
