<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
        <div class="container">
            <a href="https://open.spotify.com/intl-fr" target="_blank"><img src="../static/spotify.png" width="80%"></a>
            <a href="https://www.deezer.com/fr/" target="_blank"><img src="../static/deezer.png" width="70%"></a>
                    <div class="rechercher">
                        <input type="text" placeholder="Rechercher">
                        <img src="../static/loupe.png" width="10%">
                    </div>
                <img src="../static/mic.png" width="10%">
                <img src="../static/maison.png" width="10%">    
        </div>
        <div>
            <li>
                {{range .}}
                    <li class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                        <strong>Nom de l'artiste :</strong> {{.ArtistName}} 
                        <img src="{{.ArtistImage}}" alt="Image de l'artiste {{.ArtistName}}" ></li>
                {{end}}
            </li>
        </div>
    <div class="page">
    </div>
    <script src="script.js"></script>
</body>
</html>